body {
	font-family: Roboto, Arial, Sans-Serif; /*Roboto font used from Google Fonts (with fallbacks if unavailable)*/ 
	background-color: #000000; /*Black background*/
	background-image: url("pokemon_background.png"); /*Transparent Pokémon pattern displayed over the top of background colour*/
}

#guess_box { /*Used to display all guesses and various server messages*/
	width: 300px;
	margin: 0 auto;
	overflow-y: hidden;
	height: 290px;
	margin-bottom: 10px;
	border-radius: 10px;
	margin-top: 10px;
}

#signed_in { /*Used to display sign in status*/
	display: none; /*Invisible by default; made visible if the user is signed in*/
}

#logged_in_guess {
	display: none;
}

.login_tip {
	font-style: italic;
}

.logged_in_container {
	background-color: #F2F2F2;
	display: inline-block;
	border-radius: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 20px;
}

.back_to_game {
	height: 40px;
	cursor: pointer;
	margin-left: 20px;
	border-radius: 10px;
	border: 0px;
	background-color: #D3D3D3;
	font-weight: bold;
	font-size: 15px;
	width: 150px;	
}

.game_login {
	height: 40px;
	margin-left: 20px;
	cursor: pointer;
	border-radius: 10px;
	border: 0px;
	background-color: #D3D3D3;
	font-weight: bold;
	font-size: 15px;
	width: 100px;
}

.login_row {
	display: flex;
}

.register {
	width: 200px;
	margin: 0 auto;
	padding: 20px;
}

.error {
	color: #F40000;
}

.registration_button {
	border-radius: 10px;
	cursor: pointer;
	border: 0px;
	width: 100px;
	margin-top: 10px;
	padding: 10px;
}

.login {
	padding: 20px;
	width: 200px;
	margin: 0 auto;
}

.main {
	margin: 0 auto;
	padding-top: 5px;
	padding-bottom: 30px;
	width: 800px;
	border-radius: 10px;
	background-color: #FFFFFF;
	margin-top: 20px;
}

.image_container {
	height: 300px;
	border-radius: 10px;
	background-color: #F2F2F2;
	margin: 0 auto;
	width: 300px;
	background-size: 300px auto;
}

#input_section {
	border-radius: 10px;
	background-color: #F7F7F7;
	width: 280px;
	margin: 0 auto;
	margin-bottom: 10px;
	margin-top: 10px;
	display: flex;
}

#guess_entry {
	border: 0px;
	height: 30px;
	border-radius: 10px;
	width: 235px;
	margin-left: 5px;
	display: none;
}

#guess_entry:focus { /*When the guess input is focused*/
	outline: none; /*Remove the outline added by default*/
}

#guess_entry:disabled { /*Guess entry is disabled if not logged in*/
	background-color: #F7F7F7;
}

#send {
	border-radius: 10px;	
	height: 30px;
	background-color: #FFFFFF;
	color: #A4A4A4;
	border: 0px;
	margin-left: 10px;
	visibility: hidden;
	display: none;
	margin-top: 3px;
}

#send:hover { /*Change the colour of the Send icon if touching the mouse cursor*/
	color: black;
}

#leaderboard {
	border-radius: 10px;
	background-color: #F2F2F2;
	width: 640px;
	margin: 0 auto;
	margin-top: 10px;
	overflow-x: hidden;
	overflow-y: scroll;	
}

#leaderboard_contents {
	height: 440px;	
}

.leaderboard_position {
	margin-left: 10px;
	font-size: 20px;
	margin-top: 0px;
}

#input_section {
	text-align: center;
}

.title {
	text-align: center;
}

#timer_border {
	width: 250px;
	background-color: #F2F2F2;
	margin: 0 auto;
	border-radius: 10px;
	height: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
}

.question_area {
	display: inline-block;
	margin-right: 20px;
}

.guess_area {
	margin-left: 20px;
	display: inline-block;
	background-color: #F2F2F2;
	border-radius: 10px;
}

.row { /*Used to align items side by side*/
	display: flex;
	align-items: center;
	justify-content: center;
}

#timer {
	text-align: center;
	transition: width 100ms linear;
	width: 100%;
	height: 20px;
	border-radius: 0px 10px 10px 0px;
	background-color: #F40000;
	margin-bottom: 10px;
}

#pokemon_image {
	height: 300px;
	margin: 0 auto;
	width: 300px;
	background-size: 300px auto;
}

.message { /*Used for guesses in the guess box*/
	margin: 5px;
	background-color: #FFFFFF;
	margin-top: 0px;
	border-radius: 5px;
	padding: 2px;
}

.correct { /*Used if the correct answer is guessed*/
	font-weight: bold;
	text-align: center;
	background-color: #BEFF99;
}

.correct_guess {
	background-color: #F0FCEA;	
	position: relative;
}

.scored_points {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 5px;
  font-weight: bold;
}

.guess_username {
	font-weight: bold;
}

.server_message { /*Used for server messages in the guess box (e.g. "A new Pokémon appeared!")*/
	font-weight: bold;
	background-color: #DBDBDB;
	text-align: center;
	margin: 5px auto;
	border-radius: 5px;
	padding: 2px;
	width: 80%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.entry_login {
	width: 100%;
	height: 30px;
	border-radius: 10px;
	background-color: #F7F7F7;
	color: #757575;
	border: 0;
}

/* Media query for mobile devices */
@media (max-width: 1000px) {
	.row {
		flex-direction: column; /* Stack items on top of each other */
	}

	.login_row {
		flex-direction: column;
	}
	
	.login {
		width: 500px;
		font-size: 40px;
	}

	.register {
		width: 500px;
		font-size: 40px;
	}

	.navbar_button {
		font-size: 30px;
		height: 80px;
		width: 300px;
		margin: 20px;
	}
	
	.logged_in_container {
		width: 90%;
	}
	
	#registration_username {
		font-size: 40px;
		margin: 10px;
		border-width: 2px;
	}
	
	#registration_password {
		font-size: 40px;
		margin: 10px;
		border-width: 2px;
	}

	#username {
		font-size: 40px;
		margin: 10px;
		border-width: 2px;
	}
	
	#password {
		font-size: 40px;
		margin: 10px;
		border-width: 2px;
	}
	
	.registration_button {
		font-size: 40px;
		width: 200px;
	}

	.question_area, .guess_area {
		display: block; /* Change to block display for stacking on mobile */
		margin: 0px;
		width: 640px;
	}

	#pokemon_image {
		width: 100%;
		height: 100%;
		background-size: 100% 100%;
	}

	.image_container {
		width: 640px;
		height: 640px;
	}

	#input_section {
		width: 95%;
		margin-bottom: 20px;
		border-radius: 40px;
	}

	#guess_box {
		width: 640px;
		height: 500px;
	}

	.server_message {
		font-size: 30px;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.message {
		font-size: 30px;
		margin: 10px;
		margin-top: 0px;
		border-radius: 10px;
		padding: 5px;
	}

	.correct {
		font-size: 30px;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	
	.title {
		font-size: 4em;
	}

	#guess_entry {
		width: 527px;
		font-size: 35px;
		height: 100px;
		border-radius: 40px;
	}

	#send {
		height: 100px;
		border-radius: 40px;		
	}
	
	.material-icons {
		font-size: 35px;
	}
	
	.entry_login {
		height: 100px;
		font-size: 30px;
	}
	
	#timer_border {
		width: 500px;
	}
}