#guess_box {
	width: 300px;
	margin: 0 auto;
	overflow-y: hidden;
	height: 290px;
	margin-bottom: 10px;
	border-radius: 10px;	
}

body {
	font-family: Roboto;
	background-image: url("pokemon_background.png");
	background-color: #000000;
}

.login_tip {
	font-style: italic;
}

.logged_in_container {
	background-color: #F2F2F2;
	display: inline-block;
	border-radius: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 20px;
}

#signed_in {
	display: none;
}

.back_to_game {
	height: 40px;
	margin-left: 20px;
	border-radius: 10px;
	border: 0px;
	background-color: #D3D3D3;
	font-weight: bold;
	font-size: 15px;
	width: 150px;	
}

.game_login {
	height: 40px;
	margin-left: 20px;
	border-radius: 10px;
	border: 0px;
	background-color: #D3D3D3;
	font-weight: bold;
	font-size: 15px;
	width: 100px;
}

.login_row {
	display: flex;
}

.register {
	width: 200px;
	margin: 0 auto;
	padding: 20px;
	padding-left: 100px;
}

.error {
	color: #F40000;
}

.registration_button {
	border-radius: 10px;
	border: 0px;
	width: 100px;
	margin-top: 10px;
	padding: 10px;
}

.login {
	padding: 20px;
	width: 200px;
	padding-right: 100px;
	margin: 0 auto;
}

.main {
	margin: 0 auto;
	padding-top: 5px;
	padding-bottom: 30px;
	width: 800px;
	border-radius: 10px;
	background-color: white;
	margin-top: 20px;
}

.image_container {
	height: 300px;
	border-radius: 10px;
	background-color: #F2F2F2;
	margin: 0 auto;
	width: 300px;
	background-size: 300px auto;
}

#input_section {
	border-radius: 10px;
	background-color: #F7F7F7;
	width: 280px;
	margin: 0 auto;
	margin-bottom: 10px;
	display: flex;
}

#guess_entry {
	border: 0px;
	height: 30px;
	border-radius: 10px;
	width: 235px;
	margin-left: 5px;
}

#guess_entry:focus {
	outline: none;
}

#guess_entry:disabled {
	background-color: #F7F7F7;
}

#send {
	border-radius: 10px;	
	height: 30px;
	background-color: white;
	color: #A4A4A4;
	border: 0px;
	margin-left: 10px;
	visibility: hidden;
}

#send:hover {
	color: black;
}

#leaderboard {
	border-radius: 10px;
	background-color: #F2F2F2;
	width: 640px;
	margin: 0 auto;
	overflow-x: hidden;
	height: 300px;
	margin-top: 10px;
}

#leaderboard_contents {
	overflow-x: hidden;
	height: 240px;	
}

.leaderboard_position {
	margin-left: 10px;
	font-size: 20px;
	margin-top: 0px;
}

#input_section {
	text-align: center;
}

.title {
	text-align: center;
}

#timer_border {
	width: 225px;
	background-color: #F2F2F2;
	margin: 0 auto;
	border-radius: 10px;
	height: 20px;
	margin-bottom: 10px;
}

.question_area {
	display: inline-block;
	margin-right: 20px;
}


.guess_area {
	margin-left: 20px;
	display: inline-block;
	background-color: #F2F2F2;
	border-radius: 10px;
}

.row {
	display: flex;
	align-items: center;
	justify-content: center;
}

#timer {
	text-align: center;
	transition: width 100ms linear;
	width: 100%;
	height: 20px;
	margin-top: 10px;
	border-radius: 10px;
	background-color: #F40000;
	margin-bottom: 10px;
}

#pokemon_image {
	height: 300px;
	margin: 0 auto;
	width: 300px;
	background-size: 300px auto;
}

.message {
	margin: 5px;
	background-color: #FFFFFF;
	margin-top: 0px;
	border-radius: 5px;
	padding: 2px;
}

.sent {
	background-color: white;
}

.correct {
	font-weight: bold;
	text-align: center;
	background-color: #BEFF99;
}

.guess_username {
	font-weight: bold;
}

.server_message {
	font-weight: bold;
	background-color: lightgray;
	text-align: center;
}